{% extends 'smsapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} <title>Record Form</title> {% endblock %}





{% block content %}

<style>
.myform {
  margin: 70px 400px;
}
</style>

  




<div class="myform">	
<div class="jumbotron">
	<h3>Registration</h3>
	<br>
<form method="POST" id="recordForm" data-grades-url="{% url 'ajax_load_grades' %}">
  {% csrf_token %}
	
  {{fm|crispy}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $("#id_category").change(function () {
    const url = $("#recordForm").attr("data-grades-url");  // get the url of the `load_cities` view
    const categoryId = $(this).val();  // get the selected country ID from the HTML input
    
    
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_grades/)
      data: {
        'category_id': categoryId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        console.log(data);
        $("#id_grade").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}

