{% extends 'smsapp/base.html' %}

{% load static %}

{% block title %} <title>Broadcast Message Templates</title> {% endblock %}





{% block content %}

<div class="row">
	<div class="col-md-12">
		<h5>Template List</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table">
				<tr>
					<th>Template ID</th>
					<th>Title</th>
					<th>Update</th>
					<th>Delete</th>

				</tr>
				{% for temp in temps %}
				<tr>
					<td>{{ temp.Template_id }}</td>
					<td>{{ temp.Title }}</td>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					<td><a class="btn btn-sm btn-info" href="">Delete</a></td>
					
				</tr>
				{% endfor %}
				<a class="btn btn-primary btn-sm btn-block"  href="{% url 'messtemp' %}">Create New Message Template</a>
			</table>
		</div>
	</div>


<div>
{% for temp in temps %}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title: {{ temp.Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">ID: {{ temp.Template_id }}</h6>
         <hr>
        <p class="card-text">{{ temp.Content }}</p>
        <a href="#" class="btn btn-primary">View Template</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock %}
